<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="adjunct-Guard" version="2.0.0" targetFramework="net48" />
  <package id="adjunct-System.DataStructures.BinaryTreeBase" version="2.0.0" targetFramework="net48" />
  <package id="adjunct-System.DataStructures.FuncComparer" version="2.0.0" targetFramework="net48" />
  <package id="adjunct-System.IComparableExtensions" version="2.0.0" targetFramework="net48" />
  <package id="EntityFramework" version="6.5.1" targetFramework="net48" />
  <package id="MaterialDesignColors" version="3.1.0" targetFramework="net472" />
  <package id="MaterialDesignThemes" version="5.1.0" targetFramework="net472" />
  <package id="Microsoft.Xaml.Behaviors.Wpf" version="1.1.135" targetFramework="net48" />
</packages>